.bioContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bio {
  p {
    font-size: 1.1rem;
  }

  @include small-breakpoint {
    width: 65%;
  }
}

.bioImage {
  display: none;

  @include small-breakpoint {
    display: block;
    max-width: 35%;
    object-fit: scale-down;
  }
}

.imageround {
  border-radius: 50%;
}

.interests {
  columns: 1;

  @include small-breakpoint {
    columns: 2;
  }
}

.userLink {
  border: 2px solid $primary-color;
  padding: 5px 20px;
  margin: 10px 0px;
  border-radius: 25px;

  color: $primary-color;
  font-size: 1.1rem;
  text-align: center;

  transition: 0.2s ease all;

  &:hover,
  &:active,
  &.active {
    color: #111;
    background: rgba(0, 0, 0, 0.02);
  }
}

.userLinks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
