.bioContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include small-breakpoint {
    flex-direction: row;
  }
}

.bio {
  order: 1;

  p {
    font-size: 1.1rem;
  }

  @include small-breakpoint {
    width: 65%;
  }
}

.bioImage {
  max-width: 100%;
  object-fit: scale-down;

  @include small-breakpoint {
    order: 2;
    display: block;
    max-width: 35%;
  }
}

.imageround {
  border-radius: 50%;
}

.interests {
  columns: 1;

  @include small-breakpoint {
    columns: 2;
  }
}

.userLink {
  padding: 5px 15px;
  margin: 5px 0px;
  font-size: 1rem;

  @include small-breakpoint {
    padding: 5px 20px;
    margin: 10px 0px;
    font-size: 1.1rem;
  }

  border: 2px solid $primary-color;
  border-radius: 25px;
  min-width: 100px;

  color: $primary-color;
  text-align: center;

  transition: 0.2s ease all;

  &:hover,
  &:active,
  &.active {
    color: #111;
    background: rgba(0, 0, 0, 0.02);
  }
}

.userLinks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
