.container {
    max-width: $width;
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    max-width: $width;
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
}