.page-container {
  // height: 100%;

  @media screen and (min-width: $mobile) {
    padding-top: $top-pad;
  }

  h1,
  h2,
  h3,
  h4 {
  }

  p,
  pre {
    padding-top: 1rem !important;
  }

  img {
    max-width: 100%;
  }
}

