.blm {
  background-color: $black;
  color: $white;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.5px;
  white-space: pre;

  width: 100%;
  height: $blm-height;

  @media screen and (min-width: $mobile) {
    position: fixed;
    font-size: $font-size;
    margin-top: -$top-pad;
  }
}

.blm-link {
  color: #f7ca18;
}
