.nav {
  position: fixed;
  width: 100%;
  // height: 100%;
  font-size: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: $white;

  @media screen and (min-width: $mobile) {
    font-size: $font-size;
    display: block;
    padding-top: 4em;
    padding-bottom: 0em;
    width: $nav-width;
  }
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;

  @media screen and (min-width: $mobile) {
    display: block;
    text-align: right;
  }

  li {
    padding: 1em 0.5em;

    @media screen and (min-width: $mobile) {
      padding: 0em;
      margin-bottom: 1.75em;
    }
  }

  a {
    color: $grey;
    text-decoration: none;
    font-size: 1em;

    &:hover,
    &.active {
      color: $black;
    }
  }
}
