// Colors
$black: #222222;
$lightGrey: #f7f7f7;
$grey: #9b9b9b;
$white: #ffffff;
$primary: #9013fe;

// Scren widths
$mobile: 620px;
$medium: 800px;
$large: 1400px;

// Padding
$top-pad: 4em;
$side-pad: 15%;

// Nav
$nav-width: 100px;