.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }

  .nav-container {
    padding: 0 1.5rem;
    height: 55px;
    max-width: $width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease;
  }

  .brand {
    .text {
      display: none;
    }

    a {
      color: black;
      font-weight: 600;
    }
  }

  .links {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    margin-right: calc(30px + 1rem);

    a {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      line-height: 1.2rem;
      padding: 0.5rem 0.40rem;

      // margin: 0 0.5rem;
      // padding: 0 0.75rem;
      border-bottom: 2px solid transparent;
      margin: 0 0.5rem;
      border-radius: $border-radius;

      &:hover,
      &:active,
      &.active {
        color: #111;
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

@include small-breakpoint {
  .nav {
    &.scroll {
      .nav-container {
        height: 60px;
      }
    }

    .nav-container {
      height: 140px;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
    }

    .brand {
      a {
        display: flex;
        align-items: center;
      }

      .text {
        display: block;
        font-size: 1.2rem;
      }
    }

    .links {
      display: flex;
      flex: 1 1;
      justify-content: flex-end;
      height: 100%;
      margin: 0;

      a {
        font-size: 1rem;
        margin: 0 0.5rem;
        padding: 0.75rem 1rem;
        border-bottom: 2px solid transparent;
        border-radius: $border-radius;

        &:hover,
        &:active,
        &.active {
          color: #111;
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

.favicon {
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin-right: 1rem;
}

.theme-icon {
  height: 20px;
  width: 20px;
  min-width: 20px;
}