@import "./base/variables.scss";
@import "./base/typography.scss";
@import "./base/reset.scss";

@import "./components/Header.scss";
@import "./components/SocialLinks.scss";

@import "./pages/page.scss";
@import "./pages/index.scss";

main {
  padding: 4rem 1.5rem 1rem 1rem;
  height: 100%;

  @media screen and (min-width: $medium) {
    padding-left: calc(1.5rem + #{$nav-width});
  }

  //   @media screen and (max-width: $medium - 1) {
  //     padding-top: calc(3rem + #{$burgerContainerHeight});
  //   }
}

