/* Containers */

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

/* Breakpoints */

$mobile: 620px;
$tablet: $small;
$desktop: $medium;

$width: 850px;

/* Colors */

$background: #f0f0f0;
$primary-color: #4670CA;
$secondary-color: rgb(255, 90, 95);
$link-color: $primary-color;
$link-hover-color: darken($link-color, 10%);